header{
    background-color: #178F70;
    color: #FFF500;
    font-size: 14px;
    width: 100%;
    height: 30px;
    padding: 4px;
    text-align: center;
    font-weight: 300;
}

.nekotore-mark{
    margin:10px;
    padding:10px;
}

.contents-name{
  font-weight: bold;
  font-size:50px;
  margin-bottom: 5px;
}

.name{
  font-size:30px;
  font-weight:bold;

}

.contents-item{
    margin: right 40px;
    float:left;
    font-size:24px;
    padding-top:50px;
    width:60%;
    font-size:20px;
}

.contents-item p{
    padding-top:10px;
    margin:0px;
}

.txt{
    width:25%;
    display:inline-block;
    font-size:15px;
    background-color:#F9F9F0;
}

.footer{
    margin:10px;
 
}
